<div id="navContainer" class="col-md-12">
	<nav>
		<ul class="nav nav-pills">
			<li role="presentation" class="active col-md-3 transactions"><a href="#transactions" role="tab" data-toggle="tab" aria-controls="transactions">Display Transaction History</a></li>
			<li role="presentation" class="col-md-3 exchanges"><a href="#exchanges" role="tab" data-toggle="tab" aria-controls="exchanges">Exchange Rates</a></li>
			<li role="presentation" class="col-md-3 currencies"><a href="#conversions" role="tab" data-toggle="tab" aria-controls="conversions">Convert Currencies</a></li>
		</ul>
	</nav>
</div>