<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible"/>
		<link rel="stylesheet" href="/css/app.css" />
		<link rel="stylesheet" href="/js/bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<title>PayPalCurrencyConversion</title>
	</head>
<body class="application">
	<div id="loader" class="loader hide">
		<img src="/img/loader.gif"/>
		<h3>Loading, Please Wait...</h3>
	</div>
	<div class="top col-md-12">
		<h1>PayPal Currency Conversions</h1>
		<div id="appRegion">
		</div>
	</div>
	<script data-main="app" src="/js/lib/require.js"></script>
</body>
</html>